# These packages are to be installed with pip, with the following command:
# pip install -r requirements.txt

# To build documentation
sphinx>=8.0,<9.0
sphinx_rtd_theme
sphinx-design
sphinx-copybutton
sphinx-automodapi
sphinx-favicon
sphinx-autoapi
linuxdoc
sphinx_toolbox
sphinx_copybutton
sphinxcontrib-fulltoc
sphinxcontrib-mermaid
